<ng-container *ngLet="interactions$ | async as interactions">
  <span *ngIf="!interactions || !interactions.length">No interactions!</span>

  <mat-list *ngIf="!!interactions && interactions.length">
    <div mat-subheader>Available interactions ({{ interactions.length }}):</div>
    <mat-list-item *ngFor="let interaction of interactions">
      <mat-icon
        mat-list-icon
        *ngIf="interaction.direction === 'Inbound'"
        [title]="interaction.direction"
        >south_east</mat-icon
      >
      <mat-icon
        mat-list-icon
        *ngIf="interaction.direction === 'Outbound'"
        [title]="interaction.direction"
        >north_west</mat-icon
      >

      <div mat-line>
        <b>{{ interaction.name }}</b> #{{ interaction.id }}
      </div>

      <div mat-line>
        Status: <b>{{ interaction.status }}</b
        >, phone number:
        <b>{{ interaction.phoneNumber }}</b>
        , start time: <b>{{ interaction.startTime | date: "short" }}</b>
        <span *ngIf="interaction.endTime">, end time:</span>
        <b>{{ interaction.endTime | date: "short" }}</b>

        <app-call-controls [interaction]="interaction"></app-call-controls>
        <app-transfers-section
          [interaction]="interaction"
        ></app-transfers-section>
      </div>
    </mat-list-item>
  </mat-list>
</ng-container>
