<ng-container *ngLet="interactions$ | async as interactions">
  <span *ngIf="!interactions || !interactions.length">No interactions!</span>

  <mat-list *ngIf="!!interactions && interactions.length">
    <div mat-subheader>Available interactions:</div>
    <mat-list-item *ngFor="let interaction of interactions">
      <mat-icon
        mat-list-icon
        *ngIf="interaction.direction === 'Inbound'"
        [title]="interaction.direction"
        >south_east</mat-icon
      >
      <mat-icon
        mat-list-icon
        *ngIf="interaction.direction === 'Outbound'"
        [title]="interaction.direction"
        >north_west</mat-icon
      >

      <div mat-line>{{ interaction.name }} #{{ interaction.id }}</div>

      <div mat-line>Status: {{ interaction.status }}</div>
    </mat-list-item>
  </mat-list>
</ng-container>
