<mat-spinner *ngIf="!(isReady$ | async) && !(isAuthed$ | async)"></mat-spinner>

<app-auth *ngIf="(isReady$ | async) && !(isAuthed$ | async)"></app-auth>

<div
  class="content"
  role="main"
  *ngIf="(isReady$ | async) && (isAuthed$ | async)"
>
  <div class="toolbar">
    <div class="user-info">
      Logged in as:
      <b>{{ (userAndPhoneSystem$ | async)?.user?.username }} </b>
      on
      <b> {{ (userAndPhoneSystem$ | async)?.phoneSystem }}</b>
    </div>
    <button mat-flat-button color="primary" (click)="logout()" class="logout">
      Logout
    </button>
  </div>

  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>
</div>

<div class="toolbar bottom" *ngIf="isReady$ | async">
  <app-environment-selector></app-environment-selector>
</div>
