<mat-spinner *ngIf="!(isReady$ | async) && !(isAuthed$ | async)"></mat-spinner>

<app-auth *ngIf="(isReady$ | async) && !(isAuthed$ | async)"></app-auth>

<div
  class="content"
  role="main"
  *ngIf="(isReady$ | async) && (isAuthed$ | async)"
>
  <div class="toolbar">
    <div class="user-info">
      Logged in as:
      <b>{{ (userAndPhoneSystem$ | async)?.user?.username }} </b>
      on
      <b> {{ (userAndPhoneSystem$ | async)?.phoneSystem }}</b>
    </div>
    <button mat-flat-button color="primary" (click)="logout()" class="logout">
      Logout
    </button>
  </div>

  <mat-card class="interactions-card">
    <mat-card-header>
      <mat-card-title>Interactions:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-interactions-list></app-interactions-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="logger">
    <mat-card-header>
      <mat-card-title>Logs:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-logger></app-logger>
    </mat-card-content>
  </mat-card>
</div>

<div class="toolbar bottom" *ngIf="isReady$ | async">
  <app-environment-selector></app-environment-selector>
</div>
