<form [formGroup]="form">
  <h2>Agent Directory:</h2>

  <mat-form-field class="full-width-input">
    <input
      matInput
      placeholder="Search for company or queue"
      formControlName="searchAgent"
      autocomplete="off"
      required
    />
  </mat-form-field>
</form>

<ng-container *ngIf="directoryConfig.result$ | async as results">
  <button *ngIf="previousDir" (click)="goPrev()" mat-flat-button color="accent">
    <mat-icon>chevron_left</mat-icon> Go to prev
  </button>

  <mat-list>
    <div mat-subheader>Results({{ results.length }}):</div>
    <mat-list-item
      *ngFor="let result of results; trackBy: trackByIndex"
      (click)="itemClicked(result)"
      class="agent-directory-item"
    >
      <span>
        <b>{{ result.label }}</b
        ><span> of type {{ result.type }}</span>
      </span>
    </mat-list-item>
  </mat-list>
</ng-container>
