<button
  *ngIf="
    interaction?.interactionType === 'Call' &&
    interaction?.status === 'Ringing' &&
    (callControlsEnabled$ | async)
  "
  mat-flat-button
  color="primary"
  class="call-control-btn"
  (click)="answer(interaction)"
>
  Answer
</button>

<button
  *ngIf="interaction?.status !== 'Hangup' && (callControlsEnabled$ | async)"
  mat-flat-button
  color="primary"
  class="call-control-btn"
  (click)="hangup(interaction)"
>
  Hangup
</button>

<ng-container *ngIf="interaction?.status !== 'Hangup'">
  <button
    *ngIf="
      !['Cancel', 'Held', 'Connected'].includes(interaction?.status) &&
      (callControlsEnabled$ | async)
    "
    mat-flat-button
    color="primary"
    class="call-control-btn"
    (click)="hold(interaction)"
  >
    Hold
  </button>

  <button
    *ngIf="
      !['Cancel', 'Hangup', 'Held', 'Ringing'].includes(interaction?.status) &&
      (callControlsEnabled$ | async)
    "
    mat-flat-button
    color="primary"
    class="call-control-btn"
    (click)="mute(interaction)"
  >
    Mute
  </button>

  <button
    *ngIf="interaction?.status === 'Held' && (callControlsEnabled$ | async)"
    mat-flat-button
    color="primary"
    class="call-control-btn"
    (click)="retrieve(interaction)"
  >
    Retrieve
  </button>
  <button
    *ngIf="
      !['Cancel', 'Hangup', 'Ringing'].includes(interaction?.status) &&
      (callControlsEnabled$ | async)
    "
    mat-flat-button
    color="primary"
    class="call-control-btn"
    (click)="startRecording(interaction)"
  >
    Start Recording
  </button>
  <button
    *ngIf="
      !['Cancel', 'Hangup', 'Ringing'].includes(interaction?.status) &&
      (callControlsEnabled$ | async)
    "
    mat-flat-button
    color="primary"
    class="call-control-btn"
    (click)="stopRecording(interaction)"
  >
    Stop Recording
  </button>
  <button
    *ngIf="
      !['Cancel', 'Hangup', 'Held', 'Ringing'].includes(interaction?.status) &&
      (callControlsEnabled$ | async)
    "
    mat-flat-button
    color="primary"
    class="call-control-btn"
    (click)="unmute(interaction)"
  >
    UnMute
  </button>
</ng-container>
