<ng-container *ngIf="showCallControls$ | async">
  <br />
  <span *ngIf="agent$ | async as selectedAgent">
    Selected agent: <b>{{ selectedAgent.label || selectedAgent.name }}</b>
  </span>
  <app-agent-directory [interaction]="interaction"></app-agent-directory>
  <app-attachment-setter [interaction]="interaction"></app-attachment-setter>

  <ng-container *ngIf="(selectedTransferMode$ | async) === null">
    <button
      [disabled]="blindButtonDisabled$ | async"
      mat-flat-button
      color="primary"
      class="transfer-control-btn"
      (click)="blindTransfer()"
    >
      Do Blind Transfer
    </button>

    <button
      [disabled]="warmButtonDisabled$ | async"
      mat-flat-button
      color="primary"
      class="transfer-control-btn"
      (click)="warmTransfer()"
    >
      Do Warm Transfer
    </button>
  </ng-container>

  <ng-container *ngIf="(selectedTransferMode$ | async) === 'warm'">
    <ng-container
      *ngIf="
        isHandoverAllowed$ | async;
        then consultingButton;
        else warmTransferButtons
      "
    >
    </ng-container>

    <ng-template #warmTransferButtons>
      <button
        mat-flat-button
        color="primary"
        class="transfer-control-btn"
        (click)="cancelConference()"
      >
        Cancel conference
      </button>

      <button
        mat-flat-button
        color="primary"
        class="transfer-control-btn"
        (click)="mergeTransfer()"
      >
        Merge Transfer
      </button>

      <button
        mat-flat-button
        color="primary"
        class="transfer-control-btn"
        (click)="completeWarmTransfer()"
      >
        Complete Warm Transfer
      </button>
    </ng-template>

    <ng-template #consultingButton>
      <button
        mat-flat-button
        color="primary"
        class="transfer-control-btn"
        (click)="handOverCall()"
      >
        Handover
      </button>
    </ng-template>
  </ng-container>
  <!-- <button
    *ngIf="(transferStage$ | async) === TransferStage.Transferring"
    mat-flat-button
    color="primary"
    (click)="cancelBlindTransfer()"
  >
    Cancel Blind Transfer
  </button> -->
</ng-container>
